In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# New Section

# New Section

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
df_green_2017 =pd.read_csv('/content/drive/MyDrive/NYC/2017/combined/2017_green_combined.csv')

In [8]:
df_green_2017.head(5)

   VendorID lpep_pickup_datetime  ... payment_type trip_type
0         2  2017-01-01 00:01:15  ...            2       1.0
1         2  2017-01-01 00:03:34  ...            2       1.0
2         2  2017-01-01 00:04:02  ...            1       1.0
3         2  2017-01-01 00:01:40  ...            2       1.0
4         2  2017-01-01 00:00:51  ...            2       1.0

[5 rows x 19 columns]

In [9]:
df_green_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11740667 entries, 0 to 11740666
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  ehail_fee              float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  payment_type           int64
 18  trip_type              float64
dtypes: float64(10), int64(6), object(3)
memory usage: 1.7+ GB

In [10]:
print("Shape of dataset = ",df_green_2017.shape)

Shape of dataset =  (11740667, 19)

In [11]:
df_green_2017.isnull().sum()

VendorID                        0
lpep_pickup_datetime            0
lpep_dropoff_datetime           0
store_and_fwd_flag              0
RatecodeID                      0
PULocationID                    0
DOLocationID                    0
passenger_count                 0
trip_distance                   0
fare_amount                     0
extra                           0
mta_tax                         0
tip_amount                      0
tolls_amount                    0
ehail_fee                11740667
improvement_surcharge           0
total_amount                    0
payment_type                    0
trip_type                      27
dtype: int64

In [12]:
df_green_2017.dropna()

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type]
Index: []

In [15]:
df_green_2017.dropna(axis = 1, how ='all', inplace= True)

In [16]:
df_green_2017.head(5)

   VendorID lpep_pickup_datetime  ... payment_type trip_type
0         2  2017-01-01 00:01:15  ...            2       1.0
1         2  2017-01-01 00:03:34  ...            2       1.0
2         2  2017-01-01 00:04:02  ...            1       1.0
3         2  2017-01-01 00:01:40  ...            2       1.0
4         2  2017-01-01 00:00:51  ...            2       1.0

[5 rows x 18 columns]

In [17]:
df_green_2017.describe()

           VendorID    RatecodeID  ...  payment_type     trip_type
count  1.174067e+07  1.174067e+07  ...  1.174067e+07  1.174064e+07
mean   1.804665e+00  1.077787e+00  ...  1.506124e+00  1.018406e+00
std    3.964585e-01  5.625980e-01  ...  5.245950e-01  1.344143e-01
min    1.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
25%    2.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
50%    2.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
75%    2.000000e+00  1.000000e+00  ...  2.000000e+00  1.000000e+00
max    2.000000e+00  9.900000e+01  ...  5.000000e+00  2.000000e+00

[8 rows x 15 columns]

In [18]:
df_green_2017.isnull().sum()

VendorID                  0
lpep_pickup_datetime      0
lpep_dropoff_datetime     0
store_and_fwd_flag        0
RatecodeID                0
PULocationID              0
DOLocationID              0
passenger_count           0
trip_distance             0
fare_amount               0
extra                     0
mta_tax                   0
tip_amount                0
tolls_amount              0
improvement_surcharge     0
total_amount              0
payment_type              0
trip_type                27
dtype: int64

In [20]:
df_green_2017.dropna(subset = ["trip_type"],inplace= True)

In [21]:
df_green_2017.isnull().sum()

VendorID                 0
lpep_pickup_datetime     0
lpep_dropoff_datetime    0
store_and_fwd_flag       0
RatecodeID               0
PULocationID             0
DOLocationID             0
passenger_count          0
trip_distance            0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
payment_type             0
trip_type                0
dtype: int64

In [24]:
num = df_green_2017._get_numeric_data()

In [ ]:
num[num < 0] = 0